<div class="top-0 z-50 w-full dark:bg-gray-900 text-gray-500 bg-white border-2 border-gray-900 md:sticky border-b-stone-200/10">
    <div x-data="{ open: false }" class="flex flex-col max-w-full px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
        <div class="flex flex-row items-center justify-between p-4">
            <a href="/" class="flex text-gray-500 transition duration-1000 ease-in-out group">
                <img
                    src="/images/site-logo.png"
                    class="transition-opacity h-9 w-9 group-hover:opacity-50 group-focus:opacity-70"
                    alt="{{ .Site.Title }} Logo" />
                <div class="mt-1 ml-3 text-xl font-black tracking-tight text-gray-500 uppercase transition-colors group-hover:text-gray-400/60">
                    {{ .Site.Title }}
                </div>
            </a>
            <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open"
                role="navigation" aria-expanded="false" aria-label="Main" aria-controls="menuItems">
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                    <path x-show="!open" fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                    <path x-show="open" fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <!-- Barra de pesquisa -->
        <div class="relative w-full max-w-md md:w-auto md:max-w-full md:flex md:justify-center mt-2 md:mt-0">
            <input type="text" id="search-bar" placeholder="Procure por títulos..."
                class="w-full md:w-80 px-4 py-2 text-gray-700 bg-gray-200 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500" />
        </div>
    </div>
</div>