<head><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /></head>

<div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50">
    <div class="px-4 not-prose">
        
        <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3">
            {{ range .Paginator.Pages }}
            <div class="  gray-shadow dark:orange-shadow  flex flex-col overflow-hidden rounded-lg  bg-gray-50 dark:bg-gray-900 ">
                <a href="{{.Permalink}}">
                    {{ with .Params.featured_image }}
                    {{ with resources.Get . }}
                    {{ $postimage := (.Resize "500x webp q90").RelPermalink  | absURL}}
                    <img src="{{ $postimage }}" class="object-fill overflow-hidden rounded-t-lg" width="100%" height=""
                         loading="lazy"  style="object-fit: cover;height: 400px;  width: 100%;" alt="{{ .Title }}" />

                    {{ end }}
                    {{ end }}
                </a>
                <div class="p-6">
                    <div class="post-container"  data-route="{{.Permalink}} ">  

                    </div>
                    <div class="flex-1">
                        <a href="{{.Permalink}}"
                           class="block mt-2 text-2xl font-black text-gray-900 dark:text-gray-200 hover:text-primary-600 dark:hover:text-primary-500 hover:underline">
                            {{.Title}}
                        </a>
                        <p class="mt-3 text-base text-gray-900 dark:text-gray-300">
                            {{ .Params.summary }}
                        </p>
                    </div>
                    <div class=" pt-6 font-medium text-orange dark:text-primary-100 text-md ">
                        <span class="pr-2 font-black">Tags:</span>
                        <span>
                        {{ range $elem_index, $elem_val := (.GetTerms "tags") }}
                        {{ if gt $elem_index 0 }} {{ end }}
                        <a style="margin: 2px;" href="{{$elem_val.Permalink}}"
                        class="inline-flex items-center rounded-md bg-gray-300 hover:bg-primary-200 hover:text-black px-2.5 py-0.5 text-sm font-medium text-gray-900">{{$elem_val.LinkTitle}}</a>
                        {{ end }}
                        </span>
                    </div>
                   
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-firestore.js"></script>
<script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyDmK3Shq6G_grLAWK3dB_Q2VKB5kRaufqo",
      authDomain: "apps-unifil.firebaseapp.com",
      databaseURL: "https://apps-unifil-default-rtdb.firebaseio.com",
      projectId: "apps-unifil",
      storageBucket: "apps-unifil.appspot.com",
      messagingSenderId: "1047227536957",
      appId: "1:1047227536957:web:b708c2cf31c46f53737c54",
      measurementId: "G-SH4W4RJM2J"
    };
  
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  
    var db = firebase.firestore();
  
    function getStats(route, containerId) {
      if (!route) {
        console.log("Route is undefined");
        return;
      }
      const pageRef = db.collection('pages').doc(route);
      pageRef.get().then((doc) => {
        var visits = 0;
        var likes = 0;
        if (doc.exists) {
          visits = doc.data().visits || 0;
          likes = doc.data().likes || 0;
        } else {
          console.log("No data found for route: " + route);
        }
        var statsHtml = "<div> <span class='material-symbols-outlined' style='color: orange;'>visibility</span> <span style='color: orange; font-weight: bold;'>" + " " + visits + "   " + " <span class='material-symbols-outlined' style='padding-left: 6px;'>thumb_up</span></span><span style='color: orange; font-weight: bold; padding-left: 3px'>" + likes + "</span></div>";
        document.getElementById(containerId).innerHTML = statsHtml;
      }).catch((error) => {
        console.log("Error getting document:", error);
        var statsHtml = "<div> <span class='material-symbols-outlined' style='color: orange;'>visibility</span> <span style='color: orange; font-weight: bold;'> 0 <span class='material-symbols-outlined' style='padding-left: 6px;'>thumb_up</span></span><span style='color: orange; font-weight: bold; padding-left: 3px'>0</span></div>";
        document.getElementById(containerId).innerHTML = statsHtml;
      });
    }
  
    document.addEventListener('DOMContentLoaded', function () {
      // Function to load stats when the div is loaded
      function loadStats() {
        var elements = document.getElementsByClassName("post-container");
        for (var i = 0; i < elements.length; i++) {
          var permalink = elements[i].getAttribute("data-route");
  
          console.log("Permalink for post " + i + ": " + permalink);
          if (!permalink) {
            console.log("Permalink is null or undefined for post " + i);
            continue;
          }
  
          // Sanitize the permalink to remove double slashes
          permalink = permalink.replace(/\/{2,}/g, '/');
  
          // Extract just the desired part (/template/)
          var routeSegments = permalink.split('/');
          var route = routeSegments[routeSegments.length - 2];
          console.log("Sanitized Permalink for post " + i + ": " + route);
  
          var statsDiv = document.createElement("div");
          statsDiv.id = "stats_for_post_" + i;
          statsDiv.className = "stats-post"; // Add a class for styling
          statsDiv.style.marginTop = "auto"; // Apply margin-top: auto; to the statsDiv
          elements[i].appendChild(statsDiv);
          getStats(route, "stats_for_post_" + i); // Pass the extracted route instead of the full permalink
        }
      }
  
      // Call the loadStats function when the div is loaded
      loadStats();
    });
  </script>
  