{{ define "main" }}

<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<div class="neon-globe"></div>
<main>
  <div class="bg-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 pt-8 mx-auto">
      <div class="grid items-center gap-8 mb-8 sm:mb-0  lg:gap-12 lg:grid-cols-12">
        <div
          class="  col-span-6 px-4 pb-8 overflow-hidden text-center rounded md:min-w-full min-w-sm sm:mb-6 lg:text-left lg:mb-0">
          <h1
            class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
            {{ .Site.Title }}
          </h1>
          <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
            Loja de aplicativos da UniFil
          </h2>
          <div class="grid grid-cols-2 md:grid-cols-4 md:space-x-4">


            <a href="tags/cc"
              class=" pulse-link flex items-center m-4 md:m-0 px-4 py-2 font-bold text-white bg-blue-500 rounded-lg hover:bg-blue-600">
              <span style="display: flex;justify-content: center;" class="w-full	align-self-center">CC</span>

            </a>

            <a href="tags/es"
              class="pulse-link flex items-center m-4 md:m-0 px-4 py-2 font-bold text-white bg-green-500 rounded-lg hover:bg-green-600">
              <span style="display: flex;justify-content: center;" class="w-full	align-self-center">ES</span>

            </a>
            <a href="tags/ads"
              class="flex flex-row pulse-link flex items-center m-4 md:m-0 px-4 py-2 font-bold text-white bg-yellow-500 rounded-lg hover:bg-yellow-600">
              <span style="display: flex;justify-content: center;" class="w-full	align-self-center">ADS</span>

            </a>
            <a href="tags/ia"
              class="pulse-link flex items-center m-4 md:m-0 px-4 py-2 font-bold text-white bg-red-500 rounded-lg hover:bg-red-600">
              <span style="display: flex;justify-content: center;" class="w-full	align-self-center">IA</span>

            </a>
          </div>
        </div>
        <div class=" hidden lg:block flex col-span-6 overflow-hidden rounded md:min-w-full ">


          <div class=" wrapper wrapper--vertical">
            <div class="marquee marquee--vertical">
              <div class="marquee__group">
                <svg>
                  <use xlink:href="#mcdonalds" />
                </svg>
                <svg>
                  <use xlink:href="#jordan" />
                </svg>
                <svg>
                  <use xlink:href="#aws" />
                </svg>
                <svg>
                  <use xlink:href="#spotify" />
                </svg>
                <svg>
                  <use xlink:href="#burger-king" />
                </svg>
                <svg>
                  <use xlink:href="#honda" />
                </svg>
                <svg>
                  <use xlink:href="#notion" />
                </svg>
                <svg>
                  <use xlink:hrefF="#hulu" />
                </svg>
              </div>

              <div aria-hidden="true" class="marquee__group">
                <svg>
                  <use xlink:href="#mcdonalds" />
                </svg>
                <svg>
                  <use xlink:href="#jordan" />
                </svg>
                <svg>
                  <use xlink:href="#aws" />
                </svg>
                <svg>
                  <use xlink:href="#spotify" />
                </svg>
                <svg>
                  <use xlink:href="#burger-king" />
                </svg>
                <svg>
                  <use xlink:href="#honda" />
                </svg>
                <svg>
                  <use xlink:href="#notion" />
                </svg>
                <svg>
                  <use xlink:href="#hulu" />
                </svg>
              </div>
            </div>

            <div class="marquee marquee--vertical md:marquee--reverse">
              <div class="marquee__group">
                <svg>
                  <use xlink:href="#hulu" />
                </svg>
                <svg>
                  <use xlink:href="#notion" />
                </svg>
                <svg>
                  <use xlink:href="#honda" />
                </svg>
                <svg>
                  <use xlink:href="#burger-king" />
                </svg>
                <svg>
                  <use xlink:href="#spotify" />
                </svg>
                <svg>
                  <use xlink:href="#aws" />
                </svg>
                <svg>
                  <use xlink:href="#jordan" />
                </svg>
                <svg>
                  <use xlink:href="#mcdonalds" />
                </svg>
              </div>

              <div aria-hidden="true" class="marquee__group">
                <svg>
                  <use xlink:href="#hulu" />
                </svg>
                <svg>
                  <use xlink:href="#notion" />
                </svg>
                <svg>
                  <use xlink:href="#honda" />
                </svg>
                <svg>
                  <use xlink:href="#burger-king" />
                </svg>
                <svg>
                  <use xlink:href="#spotify" />
                </svg>
                <svg>
                  <use xlink:href="#aws" />
                </svg>
                <svg>
                  <use xlink:href="#jordan" />
                </svg>
                <svg>
                  <use xlink:href="#mcdonalds" />
                </svg>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


    {{ $uniqueTags := slice }}
    {{ range .Site.Pages }}
    {{ range .Params.tags }}
    {{ if not (in $uniqueTags .) }}
    {{ $uniqueTags = $uniqueTags | append . }}
    {{ end }}
    {{ end }}
    {{ end }}


    <nav class=" flex overflow-y-auto scrollbar w-full text-white relative">
      {{ range $uniqueTags }}
      {{ if not (in (slice "CC" "ES" "ADS" "IA") .) }}
      <a href="tags/{{ . }}" class="inline-block px-4 py-2 shadow-lg mb-2  text-center w-full relative bg-orange-button"
        style="box-shadow: inset 0 0 50px #ff9f04;">
        <span>{{ . }}</span>
      </a>
      {{ end }}
      {{ end }}
    </nav>







    <!-- Blog section -->
    <div class="relative px-1 pt-8 pb-4 bg-transparent lg:px-8 lg:pt-12 lg:mb-4 md:mt-12">
      <div class="absolute inset-0">
        <div class="bg-gray-200 dark:bg-gray-900/50 h-1/3 sm:h-2/3"></div>
      </div>
      <div class="relative px-2 mx-auto max-w-7xl">
        <div class="text-center">
          <h2 class="text-3xl font-black tracking-tight text-primary-500 dark:text-primary-300 sm:text-4xl">
            Projeto de extensão
          </h2>

          <p class=" mx-auto mt-3 text-xl text-gray-500 dark:text-gray-300 sm:mt-4">
            A extensão na UniFil busca conectar a instituição com a sociedade, compartilhando conhecimento adquirido por
            meio de ensino e pesquisa. Coordenada pela PROEIC, é realizada de forma interdisciplinar, aberta à
            participação pública, visando difundir as conquistas culturais e científicas da universidade. É um processo
            educativo, cultural e científico que integra ensino, pesquisa e ação, promovendo interação e
            complementaridade entre diferentes áreas de conhecimento. Além disso, a UniFil oferece diversas atividades
            como cursos, congressos e palestras, promovendo a educação continuada e demonstrando responsabilidade social
            com a comunidade.
          </p>

        </div>

        <div class=" mx-auto text-gray-900 max-w-7xl dark:text-gray-50 md:px-1.5">
          <div class="px-4 text-gray-900 dark:text-white not-prose dark:text-zinc-200">
            <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3" id="postContainer">
              {{ range .Paginator.Pages }}
              <div
                class="  gray-shadow dark:orange-shadow  flex flex-col overflow-hidden rounded-lg  bg-gray-50 dark:bg-gray-900 ">
                <a href="{{.Permalink}}">
                  {{ with .Params.featured_image }}
                  {{ with resources.Get . }}
                 {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink | absURL }}
                  <img src="{{ $featuredimage }}" alt="{{ .Title }}" style="object-fit: cover;height: 400px;  width: 100%;" />
                  {{ end }}
                  {{ end }}
                </a>
                <div class="p-6">
                  <div class="post-container" data-route="{{.Permalink}} ">

                  </div>
                  <div class="flex-1">
                    <a href="{{.Permalink}}"
                      class="block mt-2 text-2xl font-black text-gray-900 dark:text-gray-200 hover:text-primary-600 dark:hover:text-primary-500 hover:underline">
                      {{.Title}}
                    </a>
                    <p class="mt-3 text-base text-gray-900 dark:text-gray-300">
                      {{ .Params.summary }}
                    </p>
                  </div>
                  <div class=" pt-6 font-medium text-orange dark:text-primary-100 text-md ">
                    <span class="pr-2 font-black">Tags:</span>
                    <span>
                      {{ range $elem_index, $elem_val := (.GetTerms "tags") }}
                      {{ if gt $elem_index 0 }} {{ end }}
                      <a style="margin: 2px;" href="{{$elem_val.Permalink}}"
                        class="inline-flex items-center rounded-md bg-gray-300 hover:bg-primary-200 hover:text-black px-2.5 py-0.5 text-sm font-medium text-gray-900">{{$elem_val.LinkTitle}}</a>
                      {{ end }}
                    </span>
                  </div>

                </div>
              </div>
              {{ end }}

            </div>
            {{ $pag := $.Paginator }}
            {{ if gt $pag.TotalPages 1 }}
            {{ $.Scratch.Set "dot_rendered" false }}

            <nav class="flex items-center justify-center px-4 sm:px-0">
              <div class="flex flex-1 w-0">
                <div class="mx-auto border-t-2 border-primary-300">
                  <!-- Don't show on 1st and 2nd page -->
                  {{ if and (ne $pag.PageNumber 1) (ne $pag.PageNumber 2) }}
                  <a href="{{ $pag.First.URL }}" rel="first"
                    class="inline-flex items-center px-4 pt-4 text-lg font-black text-primary-600 dark:text-primary-400">«
                    First</a>
                  {{ end }}

                  {{ if $pag.HasPrev }}
                  <a href="{{ $pag.Prev.URL }}" rel="prev"
                    class="inline-flex items-center px-4 pt-4 text-lg font-black text-primary-600 dark:text-primary-400">‹
                    Prev</a>
                  {{ end }}

                  {{ range $pag.Pagers }}
                  {{ if eq . $pag }}
                  <!-- Current Page -->
                  <a class="font-black page-item active"><a href="{{ .URL }}"
                      class="inline-flex items-center px-4 pt-4 text-lg font-medium text-primary-600 dark:text-primary-400">{{
                      .PageNumber }}</a>
                  </a>
                  {{ else if and (ge .PageNumber (sub $pag.PageNumber 2)) (le .PageNumber (add $pag.PageNumber 2)) }}
                  {{ $.Scratch.Set "dot_rendered" false }}
                  <!-- Render prev 2 page and next 2 pages -->
                  <a class="page-item"><a href="{{ .URL }}"
                      class="inline-flex items-center px-4 pt-4 text-lg font-medium text-primary-600 dark:text-primary-400">{{
                      .PageNumber }}</a>
                  </a>
                  {{ else if eq ($.Scratch.Get "dot_rendered") false }}
                  <!-- render skip pages -->
                  {{ $.Scratch.Set "dot_rendered" true }}
                  <a class="page-item disabled"><a
                      class="inline-flex items-center px-4 pt-4 text-lg font-medium text-primary-600 dark:text-primary-400">...</a>
                  </a>
                  {{ end }}
                  {{ end }}

                  {{ if $pag.HasNext }}
                  <a class="page-item"><a href="{{ $pag.Next.URL }}" rel="next"
                      class="inline-flex items-center px-4 pt-4 text-lg font-black text-primary-600 dark:text-primary-400">Next
                      ›</a></a>
                  {{ end }}

                  <!-- Don't show on last and 2nd last page -->
                  {{ if and (ne $pag.PageNumber $pag.TotalPages) ((ne $pag.PageNumber (sub $pag.TotalPages 1))) }}
                  <a class="page-item"><a href="{{ $pag.Last.URL }}" rel="last"
                      class="inline-flex items-center px-4 pt-4 text-lg font-black text-primary-600 dark:text-primary-400">Last
                      »</a></a>
                  {{ end }}
                </div>
            </nav>
            {{ end }}

          </div>
        </div>
      </div>
    </div>


</main>
<script>
  const pulseLinks = document.querySelectorAll('.pulse-link');
  pulseLinks.forEach(link => {
    const minDelay = 2; // Minimum delay in seconds
    const maxDelay = 10; // Maximum delay in seconds
    const minDuration = 2; // Minimum duration in seconds
    const maxDuration = 10; // Maximum duration in seconds

    const randomDelay = Math.random() * (maxDelay - minDelay) + minDelay;
    const randomDuration = Math.random() * (maxDuration - minDuration) + minDuration;

    link.style.setProperty('--pulse-delay', `${randomDelay}s`);
    link.style.setProperty('--pulse-duration', `${randomDuration}s`);
  });
</script>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyDmK3Shq6G_grLAWK3dB_Q2VKB5kRaufqo",
    authDomain: "apps-unifil.firebaseapp.com",
    databaseURL: "https://apps-unifil-default-rtdb.firebaseio.com",
    projectId: "apps-unifil",
    storageBucket: "apps-unifil.appspot.com",
    messagingSenderId: "1047227536957",
    appId: "1:1047227536957:web:b708c2cf31c46f53737c54",
    measurementId: "G-SH4W4RJM2J"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  var db = firebase.firestore();

  function updateVisits(route) {
    const pageRef = db.collection('pages').doc(route);
    pageRef.set({
      visits: firebase.firestore.FieldValue.increment(1)
    }, { merge: true });
  }

  function addLike(route) {
    route = route.replace(/\/{2,}/g, '/');
    route = route.split('/'); // Split the route into segments
    route = route[route.length - 2]; // Get the second-to-last segment (i.e., 'template')
    const pageRef = db.collection('pages').doc(route);
    pageRef.set({
      likes: firebase.firestore.FieldValue.increment(1)
    }, { merge: true });
  }

  function getStats(route, containerId) {
    if (!route) {
      console.log("Route is undefined");
      return;
    }
    const pageRef = db.collection('pages').doc(route);
    pageRef.get().then((doc) => {
      var visits = 0;
      var likes = 0;
      if (doc.exists) {
        visits = doc.data().visits || 0;
        likes = doc.data().likes || 0;
      } else {
        console.log("No data found for route: " + route);
      }
      var statsHtml = "<div> <span class='material-symbols-outlined' style='color: orange;'>visibility</span> <span style='color: orange; font-weight: bold;'>" + " " + visits + "   " + " <span class='material-symbols-outlined' style='padding-left: 6px;'>thumb_up</span></span><span style='color: orange; font-weight: bold; padding-left: 3px'>" + likes + "</span></div>";
      document.getElementById(containerId).innerHTML = statsHtml;
    }).catch((error) => {
      console.log("Error getting document:", error);
      var statsHtml = "<div> <span class='material-symbols-outlined' style='color: orange;'>visibility</span> <span style='color: orange; font-weight: bold;'> 0 <span class='material-symbols-outlined' style='padding-left: 6px;'>thumb_up</span></span><span style='color: orange; font-weight: bold; padding-left: 3px'>0</span></div>";
      document.getElementById(containerId).innerHTML = statsHtml;
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    // Function to load stats when the div is loaded
    function loadStats() {
      var elements = document.getElementsByClassName("post-container");
      for (var i = 0; i < elements.length; i++) {
        var permalink = elements[i].getAttribute("data-route");

        console.log("Permalink for post " + i + ": " + permalink);
        if (!permalink) {
          console.log("Permalink is null or undefined for post " + i);
          continue;
        }

        // Sanitize the permalink to remove double slashes
        permalink = permalink.replace(/\/{2,}/g, '/');

        // Extract just the desired part (/template/)
        var routeSegments = permalink.split('/');
        var route = routeSegments[routeSegments.length - 2];
        console.log("Sanitized Permalink for post " + i + ": " + route);

        var statsDiv = document.createElement("div");
        statsDiv.id = "stats_for_post_" + i;
        statsDiv.className = "stats-post"; // Add a class for styling
        statsDiv.style.marginTop = "auto"; // Apply margin-top: auto; to the statsDiv
        elements[i].appendChild(statsDiv);
        getStats(route, "stats_for_post_" + i); // Pass the extracted route instead of the full permalink
      }
    }

    // Call the loadStats function when the div is loaded
    loadStats();
  });
  
</script>

{{ end }}
